---
import { getCollection } from 'astro:content';
import '../styles/global.css';
const posts = await getCollection('posts');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>serkanh</title>
  </head>
  <body>
    <main class="min-h-screen flex items-center justify-center">
      <h1 class="text-4xl font-bold">{posts.length} posts loaded</h1>
    </main>
  </body>
</html>
